.titulo-form {
	font-weight: 200;
	font-size: 35px;
	text-align: center;
	margin-top: 0;
}

.container_from_contact {
    display: flex;
    justify-content: center;
    align-items: center;
		margin: 30px;
}

.contact-input {
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    width: 250px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid rgb(162, 160, 160);
    outline: none;
}

.text-contact {
	font-family: 'Montserrat', sans-serif;
	outline: none;
	border: 1px solid rgb(162, 160, 160);
	width: 250px;
}

#form-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-contact {
		border: none;
    border-radius: 100px;
    border: 1px solid rgb(151, 144, 144);
    background-color: #95dac1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 150px;
    height: 25px;
		margin-top: 15px;
    cursor: pointer;
}

@media (min-width: 942px) {
	.container_from_contact{
		padding: 70px;
	}

	.text-contact {
		font-family: 'Montserrat', sans-serif;
		width: 350px;
	}

	.contact-input {
		width: 350px;
	}
}