.container-content {
	margin: 50px;
	display: flex;
	justify-content: space-between;
}

.container-images, .container-details {
	width: 50%;
}

.container-details {
	padding-left: 100px;
}

.small-img > img {
	width: 60px;
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 8px;
	margin: 12px;
	cursor: pointer;
}

.small-img {
	display: flex;
}

.img-product > img {
  max-width: 100%; 
}

.product-stock {
  margin-bottom: 15px;
}

.detailProd > h1{
  color: #23ac51;
}

.detailProd {
  margin: 15px;
}

.detailProd > i {
  color: rgb(238, 238, 76);
}

.products-detail {
  margin: 15px;
}

.date {
  margin-top: 15px;
}

.cantidad {
  font-size: 12px;
}

@media screen and (max-width: 930px) {
	.container-content {
			flex-direction: column;
	}

	.container-details {
		padding-left: 0px;
	}

	.container-images, .container-details {
		width: 100%;
	}
}