.container-slider-al {
    overflow: hidden;
    position: relative;
}

.slider-al {
    display: flex;
    width: 400%;
    height: 100%;
    margin-left: -100%;
}

.contenido-slide-al{
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    color: rgb(10, 10, 10);
}

.btnright {
    right: 10px;
}

.btnleft {
    left: 10px;
}

/* ================================================= */
.container-footer > ul {
    display: flex;
}

.container-footer > ul > li{
    display: inline-block;
    align-content: center; 
}

.container-respFooter {
    display: none;
}

.service-footer {
    margin: 10px auto;
    text-align: center;
    color: black;
    line-height: 1.5;
}

.service-item {
    margin: 0;
}

.service {
    font-size: 40px;
}

@media screen and (min-width: 941px) {
    .container-slider-al {
        margin-top: -16px;
        height: 700px;
    }
}

