header {
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #a7f8d0 48%, #9df1d8 100%);
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.header-info {
    background-image: var(--bg-image-primaryII);
}

.info {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.bx-menu {
    color: white;
    font-size: 18px;
    
}

.bar-menu {
    display: none;
}

.info-header {
    margin-inline: 30px;
    font-size: 12px;
    color: white;
}

.info-header {
    position: relative;
}

.icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -15px;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-inf {
    margin: 20px;
}

.logo > h1 {
    color: #23ac51;
    font-size: 35px;
}

.input-search {
    margin: 10px;
}

.search {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    text-indent: 15px;
}

.menu-nav-resp {
    display: none;
}

.menu-nav {
    text-align: center;
}

.menu-nav > ul > li {
    display: inline-block;
    padding: 20px;
}

.menu-nav > ul > li > a {
    text-decoration: none;
    color: black    ;
}

.menu-nav > ul > li > a:hover {
    color: #23ac51;
}

.container {
    width: 100%;
    overflow: hidden;
    margin-top: -16px;
}

.slider-container {
    display: flex;
    width: 400%;
    margin-left: -100%;
}

.contenido-slide {
    position: relative;
}

.contenido-slide {
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.contenido {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 150px;
}

.contenido {
    background-color: rgba(128, 128, 128, 0.329);
    border-radius: 8px;
    padding: 10px;
}

.contenido > h1{
    font-size: 50px;
    color: #23ac51;
    letter-spacing: 15px;
}

.contenido > p {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
}

.container {
    position: relative;
}

.contenido > button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    width: 110px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #23ac51;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    margin-top: 10px;
}

.contenido-slide > div > button:active {
    transform: translateY(4px);
}

.btn-slider {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #99929271;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; 
}

.btn-slider > i {
    position: absolute;
    transform: translate(-50%, -50%);
}

.btnright {
    right: 10px;
}

.btnleft {
    left: 10px;
}

.btn-slider {
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #fdfdfd;
}

.btn-slider > i:hover {
    color: rgb(36, 194, 181);
}

.container-products {
    margin: 60px;
    align-items: center;
}

.trending {
    display: flex;
    justify-content: space-between;
}

.trending {
    margin: 80px;
    align-items: center ;
}

.trending > h1 {
    font-size: 30px;
    color: #23ac51;
}

.products-content {
    border: 1px solid rgba(128, 128, 128, 0.466);
    border-radius: 10px;
    padding: 15px;
    width: 240px;
    background-color: rgba(204, 245, 245, 0.521);
}

.trending-products {
    display: flex;
    flex-wrap: wrap;
}

.products-content {
    margin: 20px auto;
}

.img-content > img {
    width: 240px;
}

.product > h3{
    margin: 10px;
    text-align: center;
}

.product-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.qualification > i {
    color: rgb(238, 238, 76);
}

.container-footer {
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #a7f8d0 48%, #9df1d8 100%);
}

.container-footer > ul {
    display: flex;
}

.container-footer > ul > li{
    display: inline-block;
    align-content: center; 
}

.container-respFooter {
    display: none;
}

.service-footer {
    margin: 10px auto;
    text-align: center;
    color: rgb(78, 77, 77);
    line-height: 1.5;
}

.service-item {
    margin: 0;
}

.service {
    font-size: 40px;
}

.container-social {
    margin: 50px
}

.content-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-company > h1 {
    font-size: 35px;
    letter-spacing: 5px;
    color: #23ac51;
}

.social-company > p {
    line-height: 1.5;
    font-size: 12px;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-image: var(--bg-image-primaryII);
    font-size: 12px;
    color: seashell;
}

.payment {
    font-size: 30px;
}


@media screen and (max-width: 940px) {
    .header-search {
        flex-direction: column;
    }

    .info-money-world {
        display: none;
    }

    .header-info {
        display: flex;
        justify-content: center;
    }

    .menu-nav {
        display: none;
    }

    .menu-nav-resp {
        display: block;
        flex-direction: column;
        position: fixed;
        background-image: var(--bg-image-primaryII);
        left: 0;
        width: 40%;
        height: 100%;
        z-index: 1;
        border-bottom: 1px solid #9df1d8;
    }

    .menu-nav-resp {
        display: flex;
        text-align: center;
    } 

    .menu-nav-resp >.menu-resp > li {
        list-style: none;
        line-height: 50px;
        font-size: 15px;
        margin-top: 10px;
        border-bottom: 1px solid #9df1d8;
    }

    .menu-nav-resp >.menu-resp > li > a {
        text-decoration: none;
        color: white;
    }

    .menu-nav-resp > .menu-resp > li > a:hover {
        color: black;
        transition: 0.5s;
        cursor: pointer;
    }

    .menu-nav-resp {
        left: 100%;
        transition: 1s;
    }

    .menu-resp {
        padding: 0;
    }

    .menu-on {
        left: 0;
    } 

    .bar-menu {
        display: block;
    }

    header {
        position: relative;
    }

    .bar-menu {
        position: absolute;
        transform: translateY(-50%);
        top: 10%;
        right: 10px;
    }

    .bar-menu > i {
        color: #ffffff;
        font-size: 25px;
    }

    .icon {
        top: 60%;
        left: -17px;
    }
    
    .search {
        width: 250px;
        height: 30px;
    } 

    .contenido {
        left: 90px;
    }
    
    .contenido > h1 {
        font-size: 35px;
        letter-spacing: 10px;
    }
    
    .contenido > p {
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 1.5;
        color: #ffffff;
    }

    .contenido > button {  
        font-size: 12px;
        width: 80px;
        height: 20px;
    }

    .trending {
        margin: 40px;
    }

    .products-content {
        margin: 15px auto;
    }

    .products-content {      
        width: 235px;
    }

    .img-content > img {
        width: 235px;
    }

    .service > h1 {
        font-size: 30px;
    }

    .service-content > h3 {
        font-size: 15px;
    }

    .service-content > p{
        font-size: 10px;
    }

    .content-social {
        flex-direction: column;
        text-align: center;
    }

}

@media screen and (max-width: 550px) {
    .menu-nav-resp >.menu-resp > li > a {
        font-size: 15px;
    }

    .contenido {
        left: 55px;
        padding: 5px;
    }

    .contenido > h1{
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .contenido > p {
        font-size: 10px;
        letter-spacing: 0.5px;
    }

    .container-products {
        margin: 20px;
    }

    .trending > h1 {
        font-size: 15px;
    }

    .show-products {
        font-size: 8px;
        width: 80px;
        height: 25px;
    }


    .products-content {      
        width: 100%;
    }

    .img-content > img {
        width: 100%;
    }

    .add-cart {
        font-size: 10px;
        width: 110px;
        height: 18px;
    }

    .container-footer {
        display: none;
    }

    .container-respFooter {
        display: block;
        width: 100%;
        background-image: linear-gradient(-225deg, #DFFFCD 0%, #a7f8d0 48%, #9df1d8 100%);
        overflow: hidden;
    }

    .content-respFooter {
        width: 300%;
        display: flex;
        margin-left: -100%;
    }

    .service-respFooter {
        width: 100%;
        height: 165px;
    }

    .service-respContent {
        color: rgb(78, 77, 77);
        text-align: center;
        font-size: 12px;
    }

    .service-respContent > h1 > i {
        font-size: 50px;
    }

    .container-respFooter{
        position: relative;
    }

    .btn-sliderResp {
        width: 20px;
        height: 20px;
        background: #99929271;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .right-arrow {
        right: 10px;
    }

    .left-arrow {
        left: 10px;
    }

    .btn-sliderResp > i {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .btn-sliderResp {
        border: none;
        color: white;
    }

}


@media screen and (max-width: 400px) {
    .mail-phone {
        display: none;
    }

    .menu-nav-resp >.menu-resp > li > a {
        font-size: 11px;
    }

    .bx-menu {
        color: #23ac51;
    }

    .logo > h1 {
        font-size: 20px;
        margin-top: 15px;
    }

    .search {
        width: 150px;
        height: 20px;
    }

    .button-search {
        width: 30px;
        height: 30px;
    }

    .header-icon > button {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .contenido {
        left: 50px;
        padding: 5px;
    }

    .contenido > h1 {
        font-size: 17px;
        letter-spacing: 1px;
    }
    
    .contenido > p {
        font-size: 9px;
        letter-spacing: 0.1px;
    }

    .contenido > button { 
        font-size: 10px;
        width: 60px;
        height: 15px;
    }

    .trending-products {
        display: flex;
        flex-wrap: wrap;
    }

    .show-products {
        font-size: 8px;
        width: 62px;
        height: 20px;
    }

    .trending {
        margin: 0px;
    }

    .trending > h1 {
        font-size: 12px;
    }

    .show-products {
        font-size: 6px;
        width: 55px;
        height: 10px;
    }
}


@media screen and (max-width: 350px){
    .menu-nav-resp >.menu-resp > li > a {
        font-size: 11px;
    }

    .bar-menu > i {
        color: #23ac51; 
    }

    .contenido {
        left: 45px;
        padding: 2px;
    }

    .contenido > h1 {
        font-size: 12px;
        letter-spacing: 0.5px;
    }
    
    .contenido > p {
        font-size: 7px;
        letter-spacing: 0.1px;
    }

    .trending > h1 {
        font-size: 11px;
    }

    .social-company > h1 {
        font-size: 20px;
    }
    
    .social-company > p {
        font-size: 9px;
    }

    .service-respFooter { 
        height: 120px;
    }

    .service-respContent > h1 > i {
        font-size: 30px;
    }

    .service-respContent {
        font-size: 10px;
    }
}