*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;   
}

:root {
    --bg-image-primary: linear-gradient(to right, #23ac51 0%, #23ac93 100%);
    --bg-image-primaryII: linear-gradient(to right, #5ebe7e 0%, #5ebdab 100%);
}

.button-search {
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-search {
    background-image: var(--bg-image-primaryII);
    color: white;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    cursor: pointer;
}

.button-search:active {
    transform: translateY(4px);
}

.header-icon > button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-image: var(--bg-image-primaryII);
}

.header-icon > button {
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.header-icon > button:active {
    transform: translateY(4px);
}
