header{
    background-color:rgb(222, 247, 243);
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.header-info {
    background-image: var(--bg-image-primaryII);
}

.info {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.bx-menu{
    color: white;
    font-size: 18px;
}

.bar-menu{
    display: none;
}

.info-header {
    margin-inline: 30px;
    font-size: 12px;
    color: white;
}

.info-header {
    position: relative;
}

.icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -15px;
}

.header-search{
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-inf{
    margin: 20px;
}

.logo > h1 {
    color: #23ac51;
    font-size: 40px;
}

.input-search{
    margin: 10px;
}

.search {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    text-indent: 15px;
}

.menu-nav-resp{
    display: none;
}

.menu-nav{
    text-align: center;
}

.menu-nav > ul > li{
    display: inline-block;
    padding: 20px;
}

.menu-nav > ul > li > a{
    text-decoration: none;
    color: black    ;
}

.menu-nav > ul > li > a:hover{
    color: #23ac51;
}

@media screen and (max-width: 1210px) {    
    .header-search{
        display: flex;
        flex-wrap: wrap;
    }
    
    .search{
        width: 250px;
    }
}
@media screen and (max-width: 965px) {

    .header-search {
        margin: 10px;
    }

    .logo > h1 {
        font-size: 35px;
    }
}


@media screen and (max-width: 750px) {
    .header-search{
        flex-direction: column;
    }

    .info-money-world {
        display: none;
    }

    .header-info {
        display: flex;
        justify-content: center;
    }

    .menu-nav {
        display: none;
    }

    .menu-nav-resp {
        display: block;
        flex-direction: column;
        position: fixed;
        background-image: var(--bg-image-primaryII);
        left: 0;
        width: 40%;
        height: 100%;
    }

    .menu-nav-resp {
        display: flex;
        align-items: center;
    }

    .menu-nav-resp >.menu-resp > li {
        list-style: none;
        line-height: 70px;
    }

    .menu-nav-resp {
        top: 55px;
    }

    .menu-nav-resp >.menu-resp > li > a {
        text-decoration: none;
        color: white;
    }

    .menu-nav-resp > .menu-resp > li > a:hover {
        color: black;
        transition: 0.5s;
        cursor: pointer;
    }

    .menu-nav-resp {
        left: 100%;
        transition: 1s;
    }

    .menu-on {
        left: 0;
    } 

    .bar-menu {
        display: block;
    }

    header {
        position: relative;
    }

    .bar-menu {
        position: absolute;
        transform: translateY(-50%);
        top: 10%;
        right: 10px;
    }

    .bar-menu > i{
        font-size: 25px;
    }

    .search {
        width: 250px;
        height: 30px;
    }
}

@media screen and (max-width: 400px) {
    .mail-phone {
        display: none;
    }

    .bx-menu {
        color: #23ac51;
    }

    .menu-nav-resp {
        margin-top: -55px;
    }

    .logo > h1 {
        font-size: 20px;
        margin-top: 15px;
    }

    .search {
        width: 150px;
        height: 20px;
    }

    .button-search {
        width: 30px;
        height: 30px;
    }

    .header-icon > button{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
}
