.header-info {
    display: flex;
    justify-content: space-between;
}

.header-info {
    background-image: linear-gradient(to right, #70e697 0%, #6cd6c3 100%);;
}

.info {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.info-header {
    margin-inline: 30px;
    font-size: 12px;
    color: white;
}

.info-header {
    position: relative;
}

.bxs-envelope {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -15px;
}

.header-seach{
    display: flex;
    justify-content: center;
    align-items: center;
}
