header{
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #a7f8d0 48%, #9df1d8 100%);
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.header-info {
    background-image: var(--bg-image-primaryII);
}

.info {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.bx-menu{
    color: white;
    font-size: 18px;
    
}

.bar-menu{
    display: none;
}

.info-header {
    margin-inline: 30px;
    font-size: 12px;
    color: white;
}

.info-header {
    position: relative;
}

.icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -15px;
}

.header-search{
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-inf{
    margin: 20px;
}

.logo > h1 {
    color: #23ac51;
    font-size: 40px;
}

.input-search{
    margin: 10px;
}

.search {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    text-indent: 15px;
}

.menu-nav-resp{
    display: none;
}

.menu-nav{
    text-align: center;
}

.menu-nav > ul > li{
    display: inline-block;
    padding: 20px;
}

.menu-nav > ul > li > a{
    text-decoration: none;
    color: black    ;
}

.menu-nav > ul > li > a:hover{
    color: #23ac51;
}

.container {
    width: 100%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    width: 400%;
    height: 500px;
    margin-left: -100%;
}

.contenido-slide {
    position: relative;
}

.contenido-slide {
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.contenido {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 120px;
}

.contenido {
    background-color: rgba(128, 128, 128, 0.329);
    border-radius: 8px;
    padding: 10px;
}

.contenido > h1{
    font-size: 50px;
    color: #23ac51;
    letter-spacing: 15px;
}

.contenido > p {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
}

.container {
    position: relative;
}

.btn-slider {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffffff71;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; 
}

.contenido > button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    width: 110px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #23ac51;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    margin-top: 10px;
}

.contenido-slide > div > button:active {
    transform: translateY(4px);
}

.btnright {
    right: 10px;
}

.btnleft {
    left: 10px;
}

.btn-slider {
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: rgba(119, 136, 153, 0.349);
}

.btn-slider:hover {
    background:rgba(163, 238, 126, 0.377);
}



@media screen and (max-width: 1210px) {    
    .header-search{
        display: flex;
        flex-wrap: wrap;
    }
    
    .search{
        width: 250px;
    }
}

@media screen and (max-width: 965px) {
    .logo > h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 750px) {
    .header-search{
        flex-direction: column;
    }

    .info-money-world {
        display: none;
    }

    .header-info {
        display: flex;
        justify-content: center;
    }

    .menu-nav {
        display: none;
    }

    .menu-nav-resp {
        display: block;
        flex-direction: column;
        position: fixed;
        background-image: var(--bg-image-primaryII);
        left: 0;
        width: 40%;
        height: 100%;
        z-index: 1;
    }

    .menu-nav-resp {
        display: flex;
        align-items: center;
    }

    .menu-nav-resp >.menu-resp > li {
        list-style: none;
        line-height: 70px;
        font-size: 20px;
    }

    .menu-nav-resp {
        padding: 50px;
    }

    .menu-nav-resp >.menu-resp > li > a {
        text-decoration: none;
        color: white;
    }

    .menu-nav-resp > .menu-resp > li > a:hover {
        color: black;
        transition: 0.5s;
        cursor: pointer;
    }

    .menu-nav-resp {
        left: 100%;
        transition: 1s;
    }

    .menu-on {
        left: 0;
    } 

    .bar-menu {
        display: block;
    }

    header {
        position: relative;
    }

    .bar-menu {
        position: absolute;
        transform: translateY(-50%);
        top: 10%;
        right: 10px;
    }

    .bar-menu > i{
        color: #ffffff;
        font-size: 25px;
    }

    .search {
        width: 250px;
        height: 30px;
    } 

    .contenido {
        left: 90px;
    }
    
    .contenido > h1{
        font-size: 35px;
        letter-spacing: 10px;
    }
    
    .contenido > p {
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 1.5;
        color: #ffffff;
    }
    
}

@media screen and (max-width: 700px) {
    .contenido {
        top: 45%;
    }

    .contenido {
        left: 100px;
    }
    
    .contenido > h1{
        font-size: 30px;
        letter-spacing: 5px;
    }
    
    .contenido > p {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 1.5;
        color: #ffffff;
    }

    .btn-slider {
        top: 45%;   
    }

    .contenido > button { 
        font-size: 12px;
        width: 90px;
        height: 30px;
    }
} 

@media screen and (max-width: 600px){
    .btn-slider {
        top: 40%;    
    }

    .btn-slider {
        font-size: 12px;
    }

    .contenido {
        top: 40%;
    }

    .contenido {
        left: 65px;
    }
}

@media screen and (max-width: 500px) {
    .menu-nav-resp >.menu-resp > li > a {
        font-size: 15px;
    }

    .btn-slider {
        top: 35%; 
        width: 20px;
        height: 20px;   
    }

    .btn-slider {
        font-size: 12px;
    }

    .contenido {
        top: 35%;
    }

    .contenido {
        left: 55px;
        padding: 5px;
    }

    .contenido > h1{
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .contenido > p {
        font-size: 10px;
        letter-spacing: 0.5px;
    }
}

@media screen and (max-width: 450px) {
    .btn-slider {
        top: 29%;  
    }

    .contenido {
        top: 29%;
    }
}

@media screen and (max-width: 400px) {
    .mail-phone {
        display: none;
    }

    .menu-nav-resp >.menu-resp > li > a {
        font-size: 15px;
    }

    .bx-menu {
        color: #23ac51;
    }

    .logo > h1 {
        font-size: 20px;
        margin-top: 15px;
    }

    .search {
        width: 150px;
        height: 20px;
    }

    .button-search {
        width: 30px;
        height: 30px;
    }

    .header-icon > button{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .btn-slider {
        top: 25%;  
    }

    .btn-slider {
        font-size: 12px;
    }

    .contenido {
        top: 25%;
    }

    .contenido {
        left: 50px;
        padding: 5px;
    }

    .contenido > h1{
        font-size: 17px;
        letter-spacing: 1px;
    }
    
    .contenido > p {
        font-size: 9px;
        letter-spacing: 0.1px;
    }

    .contenido > button { 
        font-size: 10px;
        width: 60px;
        height: 20px;
    }
}

@media screen and (max-width: 350px){
    .bar-menu > i {
        color: #23ac51; 
    }

    .btn-slider {
        top: 20%;  
    }

    .btn-slider {
        font-size: 10px;
    }

    .contenido {
        top: 20%;
    }

    .contenido {
        left: 45px;
        padding: 2px;
    }

    .contenido > h1{
        font-size: 12px;
        letter-spacing: 0.5px;
    }
    
    .contenido > p {
        font-size: 7px;
        letter-spacing: 0.1px;
    }

    .contenido > button { 
        font-size: 8px;
        width: 45px;
        height: 20px;
    }    
}