<!DOCTYPE html>
<%- include('../partials/head'); %>
<html lang="en">
<body>
    <%- include('../partials/header') %> 
    <div class="container-slider-al">
        <div class="slider-al" id="slider-al">
            <section class="contenido-slide-al">
                <img src="imag/coffeAndCookies.jpg" class="slider-img" alt="">
            </section>
            <section class="contenido-slide-al">
                <img src="imag/deliciousCookies.jpg" class="slider-img" alt="">
            </section>
            <section class="contenido-slide-al">
                <img src="imag/chocolateCookie.jpg" class="slider-img" alt="">
            </section>
            <section class="contenido-slide-al">
                <img src="imag/topCookies.jpg" class="slider-img" alt="">
            </section>
        </div>
        <button class="btn-slider btnleft" id="btnleft">
            <i class='bx bxs-chevrons-left'></i>
        </button>
        <button class="btn-slider btnright" id="btnright">
            <i class='bx bxs-chevrons-right'></i>
        </button>
    </div>
    <%- include('../partials/footer') %> 
    <script src="js/sliderHome.js"></script>
</body>
</html>