<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Ecommerce</title>
</head>
<body>
    <header class="header_cookies">
        <section class="container_user">
            <div class="content_user">
                <i class='bx bx-user'></i><a href="">Ingresar</a> |
                <i class='bx bxs-user-rectangle'></i> <a href="">Registrate</a>
            </div>
            <div class="menu_resp">
                <span class="menu_title" id="btnMenu">Menu<i class='bx bxs-cookie'></i></span>
            </div>
        </section>
        <section class="container_header">
            <div class="content_logo">
                <h1>PLANET <i class='bx bx-cookie'></i> COOKIES</h1> 
            </div>
            <div class="content_seeker">
                <form action="" class="search-bar">
                    <input type="text" placeholder="Buscar">
                    <button><i class='bx bx-search-alt-2'></i></button>
                </form>
            </div>
            <div class="container_car_social">
                <button class="car_shop"><i class='bx bxs-cart'></i></button>
                <div class="container_social">
                    <a href=""><i class='bx bxl-facebook-square'></i></a>
                    <a href=""><i class='bx bxl-instagram'></i></a>
                    <a href=""><i class='bx bxl-tiktok'></i></a>
                </div>
            </div>
        </section>
        <nav class="nav_menu" id="menu">
            <ul class="menu">
                <li><a href="/catalogo">Inicio</a></li>
                <li><a href="">Nuestros Productos</a></li>
                <li><a href="">Nosotros</a></li>        
                <li><a href="">Contáctanos</a></li>
            </ul>
        </nav>
    </header>
    <div class="container-slider-al">
        <div class="slider-al" id="slider-al">
            <section class="contenido-slide-al">
                <img src="imag/coffeAndCookies.jpg" class="slider-img" alt="">
            </section>
            <section class="contenido-slide-al">
                <img src="imag/deliciousCookies.jpg" class="slider-img" alt="">
            </section>
            <section class="contenido-slide-al">
                <img src="imag/chocolateCookie.jpg" class="slider-img" alt="">
            </section>
            <section class="contenido-slide-al">
                <img src="imag/topCookies.jpg" class="slider-img" alt="">
            </section>
        </div>
        <button class="btn-slider btnleft" id="btnleft">
            <i class='bx bxs-chevrons-left'></i>
        </button>
        <button class="btn-slider btnright" id="btnright">
            <i class='bx bxs-chevrons-right'></i>
        </button>
    </div>
    <footer>
        <div class="container-footer">
            <ul>
                <li class="service-footer" >
                    <div class="service">
                        <h1 class="service-item"><i class='bx bxs-truck'></i></h1>
                    </div>
                    <div class="service-content">
                        <h3>Free Delivery</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                        consectetur adipisicing elit. Qui.</p>
                    </div>
                </li>
                <li class="service-footer">
                    <div class="service">
                        <h1 class="service-item"><i class='bx bx-donate-heart'></i></h1>
                    </div>
                    <div class="service-content">
                        <h3>Instant Return</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                        consectetur adipisicing elit. Qui.</p>
                    </div>
                </li>
                <li class="service-footer">
                    <div class="service">
                        <h1 class="service-item"><i class='bx bx-support'></i></h1>
                    </div>
                    <div class="service-content" >
                        <h3>Quick Support</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                        consectetur adipisicing elit. Qui.</p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- slider-responsive -->
        <div class="container-respFooter">
            <div class="content-respFooter" id="content-respF">
                <div class="service-respFooter" id="slide1">
                    <div class="service-respContent">
                        <h1><i class='bx bxs-truck'></i></h1>
                        <h3>Free Delivery</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                        consectetur adipisicing elit. Qui.</p>
                    </div>
                </div>
                <div class="service-respFooter" id="slide2">
                    <div class="service-respContent">
                        <h1><i class='bx bx-donate-heart'></i></h1>
                        <h3>Instant Return</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                        consectetur adipisicing elit. Qui.</p>
                    </div>
                </div>
                <div class="service-respFooter" id="slide3">
                    <div class="service-respContent" >
                        <h1><i class='bx bx-support'></i></h1>
                        <h3>Quick Support</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                        consectetur adipisicing elit. Qui.</p>
                    </div>
                </div>
            </div>
            <button class="btn-sliderResp right-arrow" id="btnrightResp">
                <i class='bx bx-right-arrow-alt' ></i>
            </button>
            <button class="btn-sliderResp left-arrow" id="btnleftResp">
                <i class='bx bx-left-arrow-alt'></i>
            </button>
        </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/slider.js"></script>
</body>
</html>