<header class="header_cookies">
    <section class="container_user">
        <div class="content_user">
            <i class='bx bx-user'></i><a href="">Ingresar</a> |
            <i class='bx bxs-user-rectangle'></i> <a href="">Registrate</a>
        </div>
        <div class="menu_resp">
            <span class="menu_title" id="btnMenu">Menu<i class='bx bxs-cookie'></i></span>
        </div>
    </section>
    <section class="container_header">
        <div class="content_logo">
            <h1>PLANET <i class='bx bx-cookie'></i> COOKIES</h1> 
        </div>
        <div class="content_seeker">
            <form action="" class="search-bar">
                <input type="text" placeholder="Buscar">
                <button><i class='bx bx-search-alt-2'></i></button>
            </form>
        </div>
        <div class="container_car_social">
            <button class="car_shop"><i class='bx bxs-cart'></i></button>
            <div class="container_social">
                <a href=""><i class='bx bxl-facebook-square'></i></a>
                <a href=""><i class='bx bxl-instagram'></i></a>
                <a href=""><i class='bx bxl-tiktok'></i></a>
            </div>
        </div>
    </section>
    <nav class="nav_menu" id="menu">
        <ul class="menu">
            <li><a href="/catalogo">Inicio</a></li>
            <li><a href="">Nuestros Productos</a></li>
            <li><a href="">Nosotros</a></li>        
            <li><a href="">Contáctanos</a></li>
        </ul>
    </nav>
</header>