<!DOCTYPE html>
<%- include('../partials/head'); %>
<html lang="en">
<body>
    <%- include('../partials/header') %> 
    <section class="container-form">
        <form class="form-login" id="formLogin"  onsubmit="onLoginSubmit(event)"> 
             <h1 class="login">Login</h1><br>  
             <div id="errors-form"></div> 
                 <i class='bx bxs-user'></i>
                 <input class="inf-input" type="email" name="email" placeholder="Email"> <br>         
                 <i class='bx bxs-lock-alt'></i>
                 <input class="inf-input" type="password" name="pwd" placeholder="Contraseña">
                 <button class="btn-login" type="submit">Iniciar Sesión</button>             
             <div>
                 <p class="register-link">¿No tienes cuenta? <a href="/register">Resgitrate aquí</a></p>
             </div>         
         </form>
    </section>  
    <%- include('../partials/footer') %> 
</body>
</html>