<!DOCTYPE html>
<%- include('../partials/head'); %>
<html lang="en">
<body>
    <%- include('../partials/header') %>
    <section class="container-Register">
        <form id="registerForm" name="registerForm" class="form-register" onsubmit="onRegisterSubmit(event)"> 
            <h1 class="register">Register</h1> <br>
            <div id="errors-form"></div>
            <input class="inf-input" type="name" name="name" placeholder="Nombre"> <br>
            <input class="inf-input" type="lastName" name="lastName" placeholder="Apellido"> <br>
            <input class="inf-input" type="email" name="email" placeholder="Email"> <br>
            <input class="inf-input" type="password" name="pwd" placeholder="Contraseña"> <br>
            <input class="inf-input" type="password" name = "confirmPwd" placeholder="Confirmar contraseña"> <br>           
            <div class="content-btn">
                <button class="btn-register" type="submit">Crear mi cuenta</button> <br>
                <p class="link">¿Ya tienes una Cuenta? <a href="/login"> Ingresá acá</a></p> 
            </div>         
        </form>
    </section>
    <%- include('../partials/footer') %> 
</body>
</html>